/SumAndAverage/nbproject/private/
/SumAndAverage/build/
/SumAndAverage/dist/
/BodyMassIndex/nbproject/private/
/BodyMassIndex/build/
/SuccessSummary/nbproject/private/
/SuccessSummary/build/
/SuccessSummary/dist/
/ShopApplication/nbproject/private/
/ShopApplication/build/
/ShopApplication/dist/
/Tutorial34/nbproject/private/
/Tutorial34/build/
